
.lds-dual-ring {
    width: 80px;
    height: 80px;
    margin-left: 4rem;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 75px;
    height: 75px;
    margin: 8px;
    border-radius: 70%;
    border: 6px solid #f4fdff;
    border-color:  #f4fdff transparent #f4f5ff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    position: relative;
}
.lds-dual-ring div{
    width: 100%;
    height: 100%;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}